/ {
    leds {
        compatible = "gpio-leds";

        green_led_1: led {
            gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
            label = "User LED0";
        };
    };

    aliases {
        led0 = &green_led_1;
    };


    gpio_driver: gpio_driver{
        compatible = "zephyr,vo-khac-nam";
        gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
        status ="okay";
    };

    };

&usart1 {
        pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
        pinctrl-names = "default";
        current-speed = <115200>;
        status = "okay";
    };

&gpioc {
    status = "okay";
};
&gpioa {
    status = "okay";
};